/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  width:960px;
  margin:0 auto;
}
#container {
  background-color: #fffaaa;
  float: left;
}

#main {
  float:left;
  width:700px;
  padding:10px;
}

#sidebar {
  float:left;
  width:220px;
  background-color: #aaafff;
  padding: 10px;
}

.project-list {
  margin: 0 0 13px 0;
  background-color: #affaaf;
  padding: 13px;
}

.project-todo {
  background-color: #afaffa;
  padding:5px;
}

.timeago {
  font-style: italic;
}

footer {
  float:left;
  width:100%;
  text-align:center;
  margin-top: 20px;
  padding: 20px 0;
  font-weight:bold;
  color: #555;
}
